/*@import url("https://www.w3schools.com/w3css/4/w3.css");*/

#wrapper {
    text-align: justify;
    width:75%;
    border: 5px solid;
    border-top-color: rgb(122, 83, 11);
    border-bottom-color: rgb(241, 228, 148);
    border-right-color: rgb(241, 228, 148);
    border-left-color:rgb(122, 83, 11);
    margin-left: auto;
    margin-right: auto;
    padding: 1%
}


hr{
    color:rgba(10, 65, 23, 0.856);
}

header{
    font-size: 250%;
    text-align: center;
}




focus {
    background-color: rgba(147, 172, 172, 0.363);
}



