/*@import url("https://www.w3schools.com/w3css/4/w3.css");*/

body {
    text-align: justify;
}

input:focus {
    background-color: azure;
}

    p .classe1 {
    font-family: verdana;
    font-size: 14px;
    color: DarkCyan;
    background-color: #ccf2ff;
}

p.classe2 {
    font-family: Times New Roman;
    font-size: 16px;
    color: DarkOliveGreen;
    background-color: DarkCyan;
}

p#p1 {
    font-size: 8px;
}

p#p2 {
    font-size: 10px;
}

